# Preprocessing Workflow

In [1]:
import pandas as pd
import numpy as np

# Loading the dataset
url = "https://wagon-public-datasets.s3.amazonaws.com/Machine%20Learning%20Datasets/ML_Houses_dataset.csv"
data = pd.read_csv(url)

# Selecting some columns of interest
selected_features = ['GrLivArea',
                     'BedroomAbvGr',
                     'KitchenAbvGr', 
                     'OverallCond',
                     'RoofSurface',
                     'GarageFinish',
                     'CentralAir',
                     'ChimneyStyle',
                     'MoSold',
                     'SalePrice']

# Overwriting the "data" variable to keep only the columns of interest
# Notice the .copy() to copy the values 
data = data[selected_features].copy()

# Showing the first five rows
data.head(100)

,GrLivArea,BedroomAbvGr,KitchenAbvGr,OverallCond,RoofSurface,GarageFinish,CentralAir,ChimneyStyle,MoSold,SalePrice
0,1710,3,1,5,1995.0,RFn,Y,bricks,2,208500
1,1262,3,1,8,874.0,RFn,Y,bricks,5,181500
2,1786,3,1,5,1593.0,RFn,Y,castiron,9,223500
3,1717,3,1,5,2566.0,Unf,Y,castiron,2,140000
4,2198,4,1,5,3130.0,RFn,Y,bricks,12,250000
...,...,...,...,...,...,...,...,...,...,...
95,1470,3,1,8,3807.0,Fin,Y,?,4,185000
96,1588,3,1,5,3368.0,RFn,Y,?,8,214000
97,960,3,1,5,1254.0,Fin,Y,?,5,94750
98,835,2,1,5,4723.0,Unf,N,?,5,83000
99,1225,3,1,5,863.0,NaN,Y,?,1,128950

## Duplicates

In [2]:
len(data)

1760

In [ ]:
data.duplicated() # Check whether a row is a duplicated version of a previous row